@import "../../../../../../assets/scss/_variable.scss";
@import "../../../../../../assets/scss/_mixin.scss";

.iot-hub-receiver-monitor-card-wrapper{
 width: 100%;
 background: $whiteColor;
 margin: 0 0 $spacing-20 0;
 padding: $spacing-20;
 @include boxshadow();

  .basic-info-area-wrapper{
    margin-bottom: $spacing-20;

    .update-status{
      width: 100%;
      margin: 0 $spacing-15 $spacing-20 0;
      .update-time{
        float: right;
      }
      .update-signal-wrapper{
        float: right;
        padding-right: $spacing-10;
        .status-signal{
          display: inline-block;
        }
      }
    }

    .widget-wrapper{
      .widget{
        background: $widgetBackgroundColor;
        border-radius: 3px;
        padding: $spacing-15;
        width: 100%;
      }
    }
  }

  .monitor-widget-area-wrapper{
    .widget-wrapper{
      margin:0 0 $spacing-15 0;
      .widget{
        background: $widgetBackgroundColor;
        border-radius: 3px;
        padding: $spacing-15;
        width: 100%;
        height: 175px;
        .widget-title{
          color: $heavyColor;
          font-size: $widgetTitle;
          text-align: center;
        }

        .widget-content{
          padding-top: $spacing-10;
        }

        .widget-sub-title{
          font-size: $widgetSubTitle;
          text-align: center;
        }
        .widget-big-value{
          font-size: $widgetBigValue;
          color: $primaryColor;
        }
        .widget-middle-value{
          font-size: $widgetMiddleValue;
          color: $primaryColor;
        }

        .value-two-split-wrapper{

          .value-two-split-area{
            position: relative;
            padding: 0 $spacing-10 ;
          }

          .widget-left-value{
            left: 0px;
            display: inline-block;
          }
          .widget-right-title{
            right: 0px;
            position: absolute;
            bottom: 0px;
            &.top{
              position: absolute;
              bottom: $spacing-5;
            }
            &.bottom{
              position: absolute;
              top: $spacing-5;
            }
          }
          .value-two-split-line{
            margin: 0px;
          }
        }
      }
    }
  }

}




/deep/
.ngx-gauge-meter {
  display: block !important;
  margin: 0 auto;
}
