<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <connectionStrings>
    <add name="CDS20AzureSQL" connectionString="metadata=res://*/SFDatabaseEntities.csdl|res://*/SFDatabaseEntities.ssdl|res://*/SFDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cds20dbserver.database.windows.net;initial catalog=CDS20;persist security info=True;user id=cds20dbserver;password=``1qaz2wsx##;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
