<div class='main-content-title'>
  <div class="page-title">Permission</div>
  <button class="cds-btn-primary main-content-button" (click)="addBtnClick()">
      <i class="main-content-btn-icon icon-icon-plus"></i>
      <span>Add Permission</span>
  </button>
</div>

<div class="table-wrapper">
  <!-- ExpandTable Component -->
<app-expandable-table [slidePaneltemplate]="detailPanel"
                        [tableSetting] = "tableConfig"
                        [receivedCommand]="toTableCommamd"
                        (toParentCommand)="receiveCommand($event)">
  </app-expandable-table>
</div>

<!-- Expand Panel -->
<ng-template let-name="name"  #detailPanel>
<div class="second-layer expand-layer">
  <form #editForm="ngForm" (ngSubmit)="confirmEdit(editForm)" novalidate>

    <div class="expand-layer-header">
      <div class="expand-layer-title" *ngIf="toTableCommamd.isNew">Add Permission</div>
      <div class="expand-layer-title" *ngIf="!toTableCommamd.isNew">Edit Permission</div>

      <div class="expand-layer-btn-group">
        <!-- undo -->
        <div class="expand-layer-btn-wrapper" *ngIf="!toTableCommamd.isNew" [hidden]="editForm.pristine"  matTooltip="Undo All Edit">
          <button type="button" class='icon-btn' (click)="undoAllEdit()">
              <i class="expand-layer-btn-icon icon-icon-reset"></i>
          </button>
        </div>

        <!-- save employee Info -->
        <div class="expand-layer-btn-wrapper">
          <button type="submit" class='icon-btn' [ngClass]="{'enable-icon': editForm.valid}" [disabled]="!editForm.valid || editForm.pristine"  matTooltip="Save">
              <i class="expand-layer-btn-icon second-layer-btn icon-icon-save"></i>
          </button>
        </div>

        <!-- delete or cancel company -->
        <div class="expand-layer-btn-wrapper">

          <!-- Cancel Panel -->
          <button *ngIf="toTableCommamd.isNew" type="button" class='icon-btn' matTooltip="Cancel" (click)="cancelAddItem()">
              <i  class="expand-layer-btn-icon second-layer-btn icon-icon-cancel"></i>
          </button>

          <!-- Delete -->
          <button *ngIf="!toTableCommamd.isNew" type="button" class='icon-btn warning-icon' matTooltip="Delete" (click)="deleteConfirmDialog($event)">
              <i  class="expand-layer-btn-icon second-layer-btn icon-icon-delete-purge"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="expand-layer-content">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row">
            <!-- Name -->
            <div class="input-wrapper row col-12 col-sm-12 col-md-8 col-lg-4 col-xl-12">
              <div class="input-tag">*Name</div>
              <div class="input-content">
                <input name="permissionName" required [(ngModel)]="detailInfo.name" #permissionName="ngModel"/>
                <div class="input-error-hint" [hidden]="!permissionName.errors?.required || permissionName.pristine">Required</div>
              </div>
             </div>
             <!-- Permission ID -->
             <div class="input-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
               <div class="input-tag">*Permission ID</div>
               <div class="input-content">
                 <input name="permissionId" required number [(ngModel)]="detailInfo.permissionId" #permissionId="ngModel"/>
                 <div class="input-error-hint" [hidden]="!permissionId.errors?.required || permissionId.pristine">Required</div>
                 <div class="input-error-hint" [hidden]="!permissionId.errors?.number || permissionId.pristine">Number Only</div>
               </div>
             </div>
             <!-- Description -->
             <div class="input-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
               <div class="input-tag">Description</div>
               <div class="input-content">
                 <input name="permissionDescription" [(ngModel)]="detailInfo.description" />
               </div>
             </div>
           </div>
        </div>
      </div>


      

    </div>
  </form>
</div>
</ng-template>
