<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 Web.config 轉換的詳細資訊，請瀏覽 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  <connectionStrings>    
    <add name="CDStudioEntities" connectionString="metadata=res://*/CDStudioEntities.csdl|res://*/CDStudioEntities.ssdl|res://*/CDStudioEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xxxxxx.database.windows.net;initial catalog=xxxxxx;persist security info=True;user id=xxxxxx;password=xxxxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="RedisCache" connectionString="xxxxxx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>   
    <add key="StorageConnectionString" value="xxxxxxx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
 
  <add key="sfLogStorageName" value="xxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <add key="sfLogStorageKey" value="xxxxxxxxxxx"
  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <add key="sfLogLevel" value="Audit"
  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  -->
</configuration>
