$heraderHeight:70px;
$navBarWidthLarge:180px;
$navBarWidthSmall:60px;

//font size
$navBarCopyRight:12px;
$widgetSubTitle:10px;
$subFontSize:12px;
$mainFontSize:14px;
$navIconSize:16px;
$widgetTitle:16px;
$secondTitleFontSize:18px;
$pageTitleFontSize:20px;
$headerTitle:24px;
$warningIconSize:35px;
$widgetBigValue: 60px;
$widgetMiddleValue: 35px;
$largeIconSize:80px;

//spacing
$spacing-5:5px;
$spacing-10:10px;
$spacing-15:15px;
$spacing-20:20px;
$spacing-25:25px;
$spacing-30:30px;
$spacing-35:35px;
$spacing-40:40px;
$spacing-50:50px;  //edit
$spacing-70:70px;  //edit
$spacing-110:110px;

//hieght
$subIconButtonsize:34px;
$table-header-height:40px;
$table-cell-height:60px;
$table-cell-button-height:35px;
$feedbackHeight:50px;
$nav-bar-footer:40px;

//color
$highlightColor:#00aced;
$slate: #575f73;
$greyWhite:#d6d6d6;
$warmGrey:#999999;
$charcoalGrey:#2c303a;


$tableInputTagColor:#666;

$heavyColor:#262932;
$whiteColor:#fff;
$mainContentBackgroundColor:#f1f3f7;
$pageMainTitleColor:#3c414f;
$panelBackgroundColor:#3c414f;
$primaryColor:#3399ff;
$tableRowColorEven: #fff;
$tableRowColorOdd: #f5f5f5;
$tableRowTextColor:#999999;
$subIconButtonColor:#666;
$subIconButtonDisabledColor:#b0b0b0;
$subIconButtonHoverColor:#00aced;
$tableHeaderColor:#00aced;
$tableThreeLayerBackgroundColor:#f7ffff;
$tableInputDisplayTextColor:#7e8695;
$secondLayerBackgroundColor:#f2fbff;
$warningColor:#d83801;
$confirmDialogTextColor:#d83801;
$inputErrorHintColor:#d83801;
$succrssFeedbackColor: #00a651;
$screenOverlayColor: rgba(255, 255, 255, 0.5);
$uploadImageOverlay: rgba(60, 65, 79, 0.6);
$greyWhite:#d6d6d6;
$pagerHoverColor: #dddddd;
$widgetBackgroundColor:#f8f8f8;

//height
$input-entry-row:30px;
$warningDialogHeight:65px;

//size
$headerLogoSize:50px;
$pagelogoSize:150px;

//z-index
$layer-highest:100;
$screenOverlay:99;

